@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@264&display=swap');

.App{
    min-height: 100vh;
    display: flex;
    background-image: url("./bg-img.jpeg");
    /* background:linear-gradient(45deg,#303ded,#d1d8e7) ; */
    background-size: cover;
    background-position:center;
    color: white;
}